*{
  margin: 0;
  padding: 0;
}

nav{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: orange;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav ul li{
  height: 70px;
  float: left;
}


nav ul li a{
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

nav ul li a:hover{
  color: #f0f0f0;
}

nav li:first-child{
  margin-right: auto;
}

nav img{
  height: 120%;
  margin-left: 10px;
}

.fa-bars{
  font-size: 24px;
  margin-right: 10px;
}

.sidebar{
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 55%;
  background-color: orange;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content:flex-start;
}

.sidebar li{
  width: 100%;
}

.sidebar :first-child{
  margin-left: auto;
  margin-right: 5px;
  font-size: 24px;
}

.menuButton{
  display: none;
}




/* Styles for extra small devices */
@media (max-width: 575px) {
  .hideOnMobile{
    display: none;
  }

  .menuButton{
    display: block;
  }
}