main{
  padding-top: 70px;
}

.background-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image{
  display: relative;
  height: 80%;
  width: 70%;
  object-fit: cover;
  filter: brightness(70%);
}

.shop-now-btn{
  position: absolute;
  padding: 10px 20px;
  font-size: 1.1em;
  border: none;
  cursor: pointer;
}

.shop-now-btn:hover{
  background-color: lightgray;
}

.service-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  margin-bottom: 10vh;
}

.services{
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 100%;
  width: 18%;
  padding: 20px 20px;
}

/* Styles for extra small devices */
@media (max-width: 575px) {
  .services{
    width: 70%;
    padding: 20px 20px;
  }
}

/* Styles for small devices */
@media (min-width: 576px) and (max-width: 1106px) {
  .services{
    width: 35%;
    padding: 20px 20px;
  }
}

.services i{
  font-size: 2em;
  font-weight: bold;
  color: orange;
}
.services div{
  margin-left: 20px;
  font-weight: 600;
}